@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bombardier";
  src: url("/fonts/BOMBARD_.otf") format("opentype");
}


@font-face {
  font-family: "RiskOfRain";
  src: url("/fonts/risk-of-rain.ttf") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #0E1013;
}

::-webkit-scrollbar-thumb {
  background: #0E1013;
}

::-webkit-scrollbar-thumb:hover {
  background: #C5B34D;
  /* Color of the thumb on hover */
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transition-ring {
  transition-property: ring-color, ring-offset-color, ring-offset-width, ring-width;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonX {
  cursor: pointer;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
  transition-duration: 60ms;
  border: 2px solid white;
  outline: 2px solid transparent;
  outline-offset: 10px;
  transition-property: outline-offset, border;
  transition-duration: 75ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonX:hover {
  border-color: gray;
  border: 2px solid gray;
  outline: 2px solid white;
  outline-offset: 2px
}

.green {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.5px green;
  -webkit-font-smoothing: antialiased;
  background-image: url('/BgUncommon.webp')
}

.yellow {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.5px yellow;
  -webkit-font-smoothing: antialiased;
  background-image: url('/BgBoss.webp')
}

.red {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.5px red;
  -webkit-font-smoothing: antialiased;
  background-image: url('/BgLegendary.webp')
}

.rordle {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #4B6077;
  -webkit-font-smoothing: antialiased;

}
