@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bombardier";
  src: url("/fonts/BOMBARD_.otf") format("opentype");
}


@font-face {
  font-family: "RiskOfRain";
  src: url("/fonts/risk-of-rain.ttf") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100%;
  background-image: url('/rorBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter:blur(5px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.transition-ring {
    transition-property: ring-color, ring-offset-color, ring-offset-width, ring-width;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonX {
  cursor: pointer;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
  transition-duration: 60ms;
  border: 2px solid white;
  outline: 2px solid transparent;
  outline-offset: 10px;
  transition-property: outline-offset,border;
  transition-duration: 75ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonX:hover {
  border-color: gray;
  border: 2px solid gray;
  outline: 2px solid white;
  outline-offset:2px
}

